*{
    font-family:'Segoe UI';   
    margin: 0;
    box-sizing: border-box;
}

main {
    background-image: url(./images/bg_img.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

/*pop up form*/
.modal {
    position: fixed;
    margin: 20vh 20vw;
    z-index: 10;
    border-radius: 20px;
    border: 2px solid rgb(131, 228, 175);
    padding: 20px;
    width: 60vw;
    height: 60vh;
    background-color: rgb(131, 228, 175);
    transform: translateY(-120%) scale(0);
    transition: 500ms ease-in-out;
}

.modal.active {
    transform: translateY(-120%) scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

.modal_header {
    display: flex;
    border-bottom: 1px solid #000;
    padding: 0 2%;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

.sign-up {
    font-size: 1.25rem;
    font-weight: bold;
}

.close_button {
    background: none;
    outline: none;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

.modal_body {
    margin: 20px 0;
    background-color: #fff;
    height: 80%;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
}

.val {
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0;
}

.input {
    width: 100%;
    padding: 8px;
} 

#sub {
    background-color: rgb(131, 228, 175);
    padding: 3px 40px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 20px;
    border: 2px solid rgb(131, 228, 175);
    cursor: pointer;
}

form>p {
    font-size: 16px;
    padding-bottom: 10px;
}

header {
    padding: 20px 50px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:90%;
    margin-left:50px;
    margin-top: 20px;
    padding-bottom: 10px; 

}

.navbar .dlg {
    display: flex;
    align-items: center;
}

.ulc{
    position: relative;
    text-align: right;
    margin-left: 20%;
}
.lg {
    color: white;
    font-weight: bold;
    font-size: larger;
    margin-left: 8px;
}

ul li {
    display: inline-block;
    align-items: center;
    list-style: none;
    text-align: center;
    padding: 5px 25px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: .5s;
}

ul li a:hover {
    color: rgb(131, 228, 175);
}

.login {
    cursor: pointer;
    background-color: rgb(131, 228, 175);
    border: none;
    border-radius: 12px;
    padding: 5px 35px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.sw {
    margin-top: 120px;
    color: white;
}

h1{
    font-size: 40px;
}

span {
    color:rgb(131, 228, 175) ;
}

.bas {
    background-color: rgb(131, 228, 175) ;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 6px 75px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 8%;
    cursor: pointer;
}

.bas:hover {
    cursor: pointer;
    background-color:#fff;
    color: rgb(131, 228, 175);
}

.msg {
    position: fixed;
    right: 20px;
    bottom: 15px;
    cursor:pointer;
    z-index: 8;
}

.logo {
    justify-content: center;
    align-items: center;
}

.sc1 {
    display: flex;
    right: 0;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 60px;
}

.art12, .art34{
    display: block;
    padding: 0 80px;
    justify-content: right;
}
.art1, .art2, .art3, .art4 {
    text-align:left;
    padding: 20px;
}

.sc2 {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 60px;
}

.wawwrd {
    display: block;
    margin-right: 27.5%;
}

.lg{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.lg2 {
    color: #000;
    font-size: 24px;
    font-weight: bold;
}

.logo2 {
    justify-content: center;
    align-items: center;
}

.log {
    position: relative;
    top: 10px;
    left: 40px;
    align-content: flex-start;
}

.wcpwrd>h1 {
    font-size: 30px;
}



.sc3 {
    display: flex;
    margin-top: 40px;
    margin-left: 60px;
    justify-content: space-between;  
    margin-right: 34%;
}


.normal {
    color: #000;
    font-weight: 200;
}

.wcp2 {
    align-items: center;
    justify-content: center;
}

/*footer section*/
footer {
    position: relative;
    background-color: rgb(233, 233, 233);
    padding-bottom: 30px;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 70px;

}
.nrmspan{
    color: #000;
    font-size: large;
}


#und {
    border-bottom: 2px solid rgb(131, 228, 175) ;
    padding-bottom: 6px;
    color: #000;
}

#Copy {
    padding: 20px;
}

#logo {
    display: flex;
}

.ulc ul li {
    transition: 0.5s;
}

@media (max-width:600px) {
    body{
        margin: 0;
        width:100vw;
    }
    main {
        width: 100%;
        height: 100vh;
    }
    .ulc{
        display: none;
    }
    .navbar {
        text-align: left;
        width: 90%;
        margin:8px;
        padding: 0 8px;
    }

    .bas {
        font-size: 12px;
        width: 70%;
        padding:auto 20px ;
    }
    .val {
        font-size: 12px;
        padding: 10px 0;
    }
    
    .input {
        width: 100%;
        padding: 6px;
    } 
    
    #sub {
        padding: 3px 30px;
        color: #fff;
        font-size: 12px;
        border-radius: 8px;
        margin-top: 10px;
    }
    
    form>p {
        font-size: 12px;
        padding-bottom: 8px;
    }
    
    .modal {
        width: 90vw;
        margin:20vh 5vw;
    }
    
    .sw{
        margin: auto 10px;
    }

    .sw>h1 {
        margin-top: 40%;
        font-size: 24px;
        padding: 15px;
    }

    .sw>p {
        font-size: 12px;
    }

    .sc1head {
        font-size: 20px;
        padding: 15px;
    }

    .sc1 {
        display: block;
        margin: 0;
        width: 100vw;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    .arti>img {
        margin-left: 32%;
        align-items: center;
        justify-content: center;

    }

    .arti>h3 {
        font-size: 16px;
        text-align: center;
    }

    .arti>p {
        font-size: 12px;
        text-align: center;
    }

    .sc2 {
        display: block;
        margin: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .wawwrd {
        margin-top: 20px;
        justify-content: center;
        text-align: center;
    }

    .wawwrd>img {
        margin-left: 32%;
    }
    
    .logo2{
        width: 50px;
        height: 50px;
    }

    .wawwrd>h2{
        font-size: 20px;
        text-align: center;
    }

    .wawwrd>p {
        font-size: 12px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 25vw;
    }

    .lg2{
        font-size: 16px;
        padding-left: 5px;
    }

    .sc3{
        display: block;
        justify-content: center;
        align-content: center;
        margin: 0;
        margin-top: 20px;
        width:100vw;
    }

    .wcp {
        text-align: center;
        display: block;
    }

    .wcpwrd>h2 {
        text-align: center;
        font-size: 20px;
        padding-bottom: 20px;
    }

    .wcpwrd>p {
        text-align: center;
        font-size: 12px;
        padding-bottom: 15px;
    }

    .normal {
        font-size: 12px;
    }

    #nav {
        display: block;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        text-align: center;
    }

    .msg{
        position: fixed;
        margin-left: 75vw;
        width: 15vw;
        bottom: 15vh;
        cursor:pointer;
        z-index: 8;       
    }

    #Copy{
        width: 100vw;
    }

    #log {
        display:flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        text-align: center;
    }

    #log2 {
        position: relative;
        margin-left: 50%;
        transform: translateX(-50%);
        padding-bottom: 0;
    }

}
